[data-theme="dark"] {
  --primary: #ffffff;
  --background: #000000;
}

[data-theme="light"] {
  --primary: #000000;
  --background: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Clash Grotesk", sans-serif;
  color: var(--primary);
  transition: color 0.3s;
}

html {
  background-color: var(--background);
  scroll-behavior: smooth;
}

body {
  max-width: 86rem;
  margin: auto;
  padding-bottom: 4rem;
}

h1,
h2,
h3 {
  font-family: "Array", sans-serif;
  font-weight: 400;
  font-size: 4rem;
}

a {
  text-decoration: none;
}

/* Nav */
header {
  display: flex;
  justify-content: center;
}

nav {
  max-width: 86rem;
  width: 100%;
  display: flex;
  height: 5rem;
  border-bottom: 1px solid var(--primary);
}

nav h2 {
  font-size: 4rem;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
}

nav ul li {
  border-left: 1px solid var(--primary);
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-decoration: none;
  transition: 200ms;
}

nav ul li:last-child {
  border-right: 1px solid var(--primary);
}

nav ul li a,
nav ul li:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: inherit;
}

nav ul:hover li:not(:hover) {
  opacity: 0.4;
}

#darkswitch {
  display: flex;
  position: relative;
  gap: 1rem;
  background-color: var(--primary);
  padding: 0.6rem 0.8rem;
  cursor: pointer;
}

#darkswitch input {
  display: none;
}

#darkswitch svg {
  stroke: var(--background);
}

#darkswitch::after {
  content: "";
  top: 0.3rem;
  left: 0.3rem;
  position: absolute;
  height: calc(100% - 0.6rem);
  aspect-ratio: 1/1;
  background-color: var(--background);
  transition: all 0.3s;
}

[data-theme="light"] #darkswitch::after {
  left: calc(100% - 2.4rem);
}

/* Hero */
#hero-text {
  max-width: 86rem;
  width: 100%;
  border: 1px solid var(--primary);
  border-top: 0;
  padding: 0 2rem;
}

#hero h1 {
  margin-left: -12px;
  font-size: 12rem;
  line-height: 12.5rem;
}

#hero-grid {
  max-width: 86rem;
  width: 100%;
  border-top: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

#hero-grid section {
  display: flex;
  height: 500px;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border: 1px solid var(--primary);
  border-right: 0px;
  border-bottom: 0px;
  border-top: 0px;
}

#hero-grid section h4 {
  font-size: 1.5rem;
  font-weight: 500;
}

#hero-grid section p {
  font-size: 1.5rem;
}

#hero-grid section div {
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid var(--primary);
  border-radius: 2rem;
}

#hero-grid section img {
  max-height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: top center;
}

#hero-grid section:last-child {
  position: relative;
  background-color: var(--primary);
  justify-content: space-between;
}

#hero-grid section:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0 6rem 0;
  background-color: var(--background);
  border-right: 1px var(--primary) solid;
  box-sizing: border-box;
}

#hero-grid section:last-child h4 {
  font-size: 2.25rem;
  position: relative;
  z-index: 50;
}

#hero-grid section:last-child a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: underline;
}

#hero-grid section:last-child h4:last-child svg {
  width: 2.5rem;
  height: 2.5rem;
  text-decoration: none;
}

/* Contact */
.section-title {
  width: 100%;
  padding: 1rem 2rem;
  border: 1px var(--primary) solid;
  border-bottom: 0px;
}

#contact-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#contact-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  border: 1px var(--primary) solid;
  border-right: 0px;
}

#contact-content h4 {
  font-size: 1.8rem;
  font-weight: 500;
}

#contact-content input,
#contact-content textarea,
#contact-content button {
  width: 20rem;
  padding: 0.5rem;
  background-color: var(--background);
  outline: 1px solid var(--primary);
  border: none;
  resize: none;
  font-size: 1.2rem;
  transition: all 0.15s;
}

#contact-content input:focus,
#contact-content textarea:focus,
#contact-content button:focus {
  outline-width: 2px;
  border-radius: 0px;
}

#contact-content button {
  background-color: var(--primary);
  color: var(--background);
  cursor: pointer;
  font-weight: 500;
}

#dot-canvas {
  max-width: 43rem;
  aspect-ratio: 1/1;
  border: 1px var(--primary) solid;
}

[data-theme="light"] #dot-canvas {
  filter: invert(1);
  border: 1px var(--background) solid;
}
